.header{ 
    position: fixed;
    right: 0;
    z-index: 1;
    margin: -20px 20px;
    height: 50px;
    padding: -100px;

    .button{
        width: 40px;
        height: 40px;
        margin: -1.7rem -18.5rem;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        // margin: -1rem 1rem; // Default margin
        
        // Media query for phone screens
        @media (max-width: 600px) {
            margin: -11px 1rem; // Adjusted margin for phone screens
        }
    }

    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            font: bolder;
            width: 40%;
            margin: auto;
            background-color: black;
            position: relative;
            transition: transform 0.3s;
            
        }

        &::after{
            top: -1px;
            
        }

        &::before{
            top: 5px;
        }
    }

    .burgerActive{
        

        &::after{
            transform: rotate(45deg);
            top: -1px;
            background-color: black;
        }

        &::before{
            transform: rotate(-45deg);
            top: 0px;
            background-color: black;
        }
        
    }
}

