@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* New utility to hide scrollbars */
  .scroll-hidden {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}
